table{
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
}
td>input{
    border: 1px none black;
    width: 100px;
    height: 20px;
    outline: hidden;
    background-color: transparent;
}